@import './variables'
@import './mixins/*'

print('slt')
/*
    DOCS:

    Remixicon inclus

    dire que chaque mixin est modifiable
    dire le directory à chaque mixin, pour qu'il soit facilement éditable par le user du genre:
        Location: ./mixins/utils.styl

    utilities & abbréviations

*/

